* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DotGothic16", sans-serif;
}

body {
  background-color: #f7eee8;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f4bfc4;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

ul a {
  color: #fffefa;
  text-decoration: none;
  font-weight: bold;
}
