@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --background: #ffefe2;
  --primary: #ee7974;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #f4bfc4;

  --text-gray: #4c5157f6;
  --text-white: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #f7eee8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4bfc4;
  box-shadow: 0 16px 10px -18px #f062e9;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
  justify-content: flex-end;
}

ul a {
  color: #fffefa;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 35px;
}

a:hover {
  color: #dd5180;
  cursor: pointer;
  padding: 0, 10px;
  text-decoration: underline;
}

.nav__nucba {
  background-color: #ee7974;
  padding: 5px;
  font-weight: bold;
  border-radius: 16px;
}

/* main */

main {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

/* hero */
#hero {
  margin-top: 65px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.hero-info h1 {
  font-size: 48px;
  width: 80%;
  min-width: 500px;
  font-weight: 800;
  color: var(--text-gray);
}

.hero-info p {
  font-size: 14px;
  width: 70%;
  color: var(--text-gray);
}

.hero-info a {
  color: var(--text-white);
  background-color: var(--primary);
  width: 120px;
  padding: 8px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}

.hero-card {
  width: 300px;
  background: var(--nav-bg);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* info */

.info-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.info-text p {
  font-size: 20px;
  width: 70%;
  color: var(--text-gray);
  text-align: center;
}

/* info cards*/

#info {
  padding: 50px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  color: var(--text-gray);
}

#info h2 {
  font-size: 32px;
  font-weight: 800;
  color: var(--text-gray);
}

.info-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.info-card {
  width: 300px;
  height: 298px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--nav-bg);
  border-radius: 10px;
  gap: 20px;
}

.info-card img {
  width: 40px;
}

.info-card h3 {
  font-weight: 600;
  font-size: 18px;
}

.info-card p {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-gray);
}

/* footer */

footer {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  gap: 12px;
  color: var(--text-gray);
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.contact-inside {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 10px;
}

.footer-contact ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.contact h2 {
  font-size: 24px;
  font-weight: 1000;
}

.contact-inside h4 {
  font-size: 18px;
}

.contact-inside li {
  font-size: 17px;
}

p {
  line-height: 1.5;
}

.footer-2 {
  width: 20%;
}

.logo-redes img {
  width: 30px;
}

.logo-redes a:hover {
  transform: scale(1.5);

  border-radius: 15px;
  transition: 0.5s;
}

.logo-redes {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
  padding-bottom: 20px;
}

.div-logo {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 0;
  background: var(--primary);
}

.div-logo h6 {
  font-size: 12px;
  color: var(--text-white);
}

/* MEDIAQUERIES TABLET */
@media (max-width: 992px) {
  .navbar-list {
    position: absolute;
    top: 90px;
    left: 50%;
    right: 5%;
    width: 100%;
    flex-direction: column;
    border: solid 1px;
    border-radius: 0 0 15px 15px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }
  .navbar i {
    display: block;
  }

  #toggle-menu:checked ~ .navbar-list {
    display: flex;
  }
  .navbar {
    display: flex;
    flex-direction: row-reverse;
  }

  .hero-info {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .hero-info h1 {
    width: 90%;
    font-size: 30px;
  }
  .hero-info p {
    width: 100%;
    max-width: 600px;
  }

  .hero-card {
    display: none;
  }

  #description p {
    padding: 0 25px;
  }

  .contact-map {
    display: none;
  }

  .logo-redes {
    display: flex;
    justify-content: left;
    padding: 12px 0;
  }
}

/* MEDIAQUERIES MOBILE */
@media (max-width: 576px) {
  .navbar-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    height: calc(30vh - 30px);
    position: absolute;
    top: 90px;
    left: 50%;

    padding: 0 0 0 30px;
    border: solid 1px;
    border-radius: 0 0 3px 3px;
    gap: 25px;
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row-reverse;
  }

  .navbar i {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  #toggle-menu:checked ~ .navbar-list {
    display: flex;
  }

  .cart {
    left: 0;
    width: 100%;

    border-radius: 0;
  }

  .cart.item {
    flex-wrap: wrap;
  }

  .footer-contact {
    flex-wrap: wrap;
    gap: 25px;
  }

  .logo-redes {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  iframe {
    display: flex;
    align-items: flex-start;
  }

  #hero {
    width: 100%;
  }
  .hero-info h1 {
    min-width: 300px;
  }

  .botones {
    gap: 20px;
  }

  .footer-1 h2 {
    padding: 0 30px;
  }

  iframe {
    max-width: 250px;
  }
  .info-cards-container {
    gap: 30px 0;
  }

  #info {
    gap: 30px 0;
  }
}
